# DataFrames

DataFrames are the workhorse of pandas and are directly inspired by the R programming language. We can think of a DataFrame as a bunch of Series objects put together to share the same index. Let's use pandas to explore this topic!

In [1]:
import pandas as pd
import numpy as np

In [2]:
from numpy.random import randn
np.random.seed(101)

In [6]:
df = pd.DataFrame(randn(5,4),index='A B C D E'.split(),columns='W X Y Z'.split())

In [4]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

## Selection and Indexing

Let's learn the various methods to grab data from a DataFrame

In [7]:
df['W']

A   -0.993263
B    1.025984
C    2.154846
D    0.147027
E   -0.925874
Name: W, dtype: float64

In [8]:
# Pass a list of column names
df[['W','Z']]

          W         Z
A -0.993263  0.000366
B  1.025984  0.649826
C  2.154846 -0.346419
D  0.147027  1.024810
E -0.925874  0.610478

In [9]:
# SQL Syntax (NOT RECOMMENDED!)
df.W

A   -0.993263
B    1.025984
C    2.154846
D    0.147027
E   -0.925874
Name: W, dtype: float64

DataFrame Columns are just Series

In [10]:
type(df['W'])

pandas.core.series.Series

**Creating a new column:**

In [11]:
df['new'] = df['W'] + df['Y']

In [12]:
df

          W         X         Y         Z       new
A -0.993263  0.196800 -1.136645  0.000366 -2.129908
B  1.025984 -0.156598 -0.031579  0.649826  0.994405
C  2.154846 -0.610259 -0.755325 -0.346419  1.399521
D  0.147027 -0.479448  0.558769  1.024810  0.705796
E -0.925874  1.862864 -1.133817  0.610478 -2.059691

** Removing Columns**

In [13]:
df.drop('new',axis=1) #axis = 1 oznacza, że usuwamy kolumnę

          W         X         Y         Z
A -0.993263  0.196800 -1.136645  0.000366
B  1.025984 -0.156598 -0.031579  0.649826
C  2.154846 -0.610259 -0.755325 -0.346419
D  0.147027 -0.479448  0.558769  1.024810
E -0.925874  1.862864 -1.133817  0.610478

In [14]:
# Not inplace unless specified!
df

          W         X         Y         Z       new
A -0.993263  0.196800 -1.136645  0.000366 -2.129908
B  1.025984 -0.156598 -0.031579  0.649826  0.994405
C  2.154846 -0.610259 -0.755325 -0.346419  1.399521
D  0.147027 -0.479448  0.558769  1.024810  0.705796
E -0.925874  1.862864 -1.133817  0.610478 -2.059691

In [ ]:
df.drop('new',axis=1,inplace=True) #trzeba wyspecyfikować inplace = True

In [ ]:
df

Can also drop rows this way:

In [15]:
df.drop('E',axis=0)

          W         X         Y         Z       new
A -0.993263  0.196800 -1.136645  0.000366 -2.129908
B  1.025984 -0.156598 -0.031579  0.649826  0.994405
C  2.154846 -0.610259 -0.755325 -0.346419  1.399521
D  0.147027 -0.479448  0.558769  1.024810  0.705796

** Selecting Rows**

In [16]:
df.loc['A'] #działa dla konkretnego wiersza na konkretnej labelce - zwraca konkretny wiersz

W     -0.993263
X      0.196800
Y     -1.136645
Z      0.000366
new   -2.129908
Name: A, dtype: float64

Or select based off of position instead of label

In [17]:
df.iloc[2] #działa na konkretnym indeksie - wraca konkretny wiersz

W      2.154846
X     -0.610259
Y     -0.755325
Z     -0.346419
new    1.399521
Name: C, dtype: float64

** Selecting subset of rows and columns **

In [18]:
df.loc['B','Y'] # wyświetlanie jednej wartości

-0.031579143908112575

In [19]:
df.loc[['A','B'],['W','Y']] #zaznaczanie warunkowe

          W         Y
A -0.993263 -1.136645
B  1.025984 -0.031579

### Conditional Selection

An important feature of pandas is conditional selection using bracket notation, very similar to numpy:

In [20]:
df

          W         X         Y         Z       new
A -0.993263  0.196800 -1.136645  0.000366 -2.129908
B  1.025984 -0.156598 -0.031579  0.649826  0.994405
C  2.154846 -0.610259 -0.755325 -0.346419  1.399521
D  0.147027 -0.479448  0.558769  1.024810  0.705796
E -0.925874  1.862864 -1.133817  0.610478 -2.059691

In [21]:
df>0

       W      X      Y      Z    new
A  False   True  False   True  False
B   True  False  False   True   True
C   True  False  False  False   True
D   True  False   True   True   True
E  False   True  False   True  False

In [22]:
df[df>0]

          W         X         Y         Z       new
A       NaN  0.196800       NaN  0.000366       NaN
B  1.025984       NaN       NaN  0.649826  0.994405
C  2.154846       NaN       NaN       NaN  1.399521
D  0.147027       NaN  0.558769  1.024810  0.705796
E       NaN  1.862864       NaN  0.610478       NaN

In [23]:
df[df['W']>0]

          W         X         Y         Z       new
B  1.025984 -0.156598 -0.031579  0.649826  0.994405
C  2.154846 -0.610259 -0.755325 -0.346419  1.399521
D  0.147027 -0.479448  0.558769  1.024810  0.705796

In [24]:
df[df['W']>0]['Y'] #zwróć kolumnę Y dla tych rekordów, dla których W > 0

B   -0.031579
C   -0.755325
D    0.558769
Name: Y, dtype: float64

In [35]:
#todo11
#output
#          Z	       X
#A	0.503826	0.628133

##tylko dla tych wierszy, które mają wartość kolumny w > 1

df[df['W']>1][['Z','X']]

          Z         X
B  0.649826 -0.156598
C -0.346419 -0.610259

For two conditions you can use | and & with parenthesis:

In [36]:
df[(df['W']>0) & (df['Y'] > 1)]

Empty DataFrame
Columns: [W, X, Y, Z, new]
Index: []

## More Index Details

Let's discuss some more features of indexing, including resetting the index or setting it something else. We'll also talk about index hierarchy!

In [37]:
df

          W         X         Y         Z       new
A -0.993263  0.196800 -1.136645  0.000366 -2.129908
B  1.025984 -0.156598 -0.031579  0.649826  0.994405
C  2.154846 -0.610259 -0.755325 -0.346419  1.399521
D  0.147027 -0.479448  0.558769  1.024810  0.705796
E -0.925874  1.862864 -1.133817  0.610478 -2.059691

In [38]:
# Reset to default 0,1...n index
df.reset_index()

  index         W         X         Y         Z       new
0     A -0.993263  0.196800 -1.136645  0.000366 -2.129908
1     B  1.025984 -0.156598 -0.031579  0.649826  0.994405
2     C  2.154846 -0.610259 -0.755325 -0.346419  1.399521
3     D  0.147027 -0.479448  0.558769  1.024810  0.705796
4     E -0.925874  1.862864 -1.133817  0.610478 -2.059691

In [39]:
newind = 'CA NY WY OR CO'.split()

In [40]:
df['States'] = newind

In [41]:
df

          W         X         Y         Z       new States
A -0.993263  0.196800 -1.136645  0.000366 -2.129908     CA
B  1.025984 -0.156598 -0.031579  0.649826  0.994405     NY
C  2.154846 -0.610259 -0.755325 -0.346419  1.399521     WY
D  0.147027 -0.479448  0.558769  1.024810  0.705796     OR
E -0.925874  1.862864 -1.133817  0.610478 -2.059691     CO

In [42]:
df.set_index('States')

               W         X         Y         Z       new
States
CA     -0.993263  0.196800 -1.136645  0.000366 -2.129908
NY      1.025984 -0.156598 -0.031579  0.649826  0.994405
WY      2.154846 -0.610259 -0.755325 -0.346419  1.399521
OR      0.147027 -0.479448  0.558769  1.024810  0.705796
CO     -0.925874  1.862864 -1.133817  0.610478 -2.059691

In [43]:
df

          W         X         Y         Z       new States
A -0.993263  0.196800 -1.136645  0.000366 -2.129908     CA
B  1.025984 -0.156598 -0.031579  0.649826  0.994405     NY
C  2.154846 -0.610259 -0.755325 -0.346419  1.399521     WY
D  0.147027 -0.479448  0.558769  1.024810  0.705796     OR
E -0.925874  1.862864 -1.133817  0.610478 -2.059691     CO

In [44]:
df.set_index('States',inplace=True)

In [45]:
df

               W         X         Y         Z       new
States
CA     -0.993263  0.196800 -1.136645  0.000366 -2.129908
NY      1.025984 -0.156598 -0.031579  0.649826  0.994405
WY      2.154846 -0.610259 -0.755325 -0.346419  1.399521
OR      0.147027 -0.479448  0.558769  1.024810  0.705796
CO     -0.925874  1.862864 -1.133817  0.610478 -2.059691